body {
	font-family: system-ui, sans-serif;
	display: grid;
	place-content: center;
	min-height: 100vh;
	margin: 0;
	text-align: center;
}
button {
	padding: 0.6rem 1.2rem;
	font-size: 1rem;
	border-radius: 8px;
	border: 0;
	background: #ec3750;
	color: white;
	cursor: pointer;
}

button2 {
	padding: 0.6rem 1.2rem;
	font-size: 1rem;
	border-radius: 8px;
	border: 0;
	background: black;
	color: blue;
	cursor: pointer;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;

}

.navbar {
	align-items:center;
	justify-content: space-between;

}
